<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Registro a Cursos y Talleres Fabro">
    <meta name="author" content="Fabro Editores">
    <title>{{page.title}}</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{{site.url}}/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{{site.url}}/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{{site.url}}/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{{site.url}}/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{{site.url}}/img/apple-touch-icon-144x144-precomposed.png">

    <!-- BASE CSS -->
    <link href="{{site.url}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{site.url}}/css/style.css" rel="stylesheet">
	<link href="{{site.url}}/css/vendors.css" rel="stylesheet">
	<link href="{{site.url}}/css/icon_fonts/css/all_icons.min.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{{site.url}}/css/custom.css" rel="stylesheet">

</head>

<body id="register_bg" style="background:url({{site.url}}/img/{{page.cover}})">
	
	<nav id="menu" class="fake_menu"></nav>
	
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	<!-- End Preload -->
	
	<div id="login">
		<aside>
			<figure>
				<a href="{{site.url}}/cursos/escritura-medica-adquisicion-de-habilidades-para-documentar-escribir-y-publicar">
					<img src="{{site.url}}/img/logo.png" width="149" height="42" data-retina="true" alt="">
				</a>
			</figure>
			<h3>{{page.title}}</h3>
			{{content}}
			<div class="copy">© Fabro 2010-2019 </div>
		</aside>
	</div>
	<!-- /login -->
	
	<!-- COMMON SCRIPTS -->
    <script src="{{site.url}}/js/jquery-2.2.4.min.js"></script>
    <script src="{{site.url}}/js/common_scripts.js"></script>
    <script src="{{site.url}}/js/main.js"></script>
	<script src="{{site.url}}/assets/validate.js"></script>
	
	<!-- SPECIFIC SCRIPTS -->
	<script src="{{site.url}}/js/pw_strenght.js"></script>
  
</body>
</html>